WORDPRESS_URL="http://gvr.ltm.temporary.site/mower/"
WORDPRESS_HOSTNAME="www.gvr.ltm.temporary.site"

# If using the revalidate plugin
# You can generate by running `openssl rand -base64 32` in the terminal
WORDPRESS_WEBHOOK_SECRET="your-secret-key-here"
